---
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/layouts/Timeline.astro";
import "../styles/global.css";
import TimelineEvent from "@/components/TimelineEvent.astro";


const events = await Astro.glob("../content/events/**/*.md");
---

<Layout>
  <div class="flex justify-center">
    <Timeline>
      {
        events
          .sort((a, b) => {
            const parseDate = (dateStr: string): number => {
              const [day, month, year] = dateStr.split(".").map(Number);
              return new Date(year, month, day).getTime();
            };

            return (
              parseDate(b.frontmatter.publish_date) -
              parseDate(a.frontmatter.publish_date)
            );
          })
          .map((event: any) => {
            return (
              <TimelineEvent
                name={event.frontmatter.title}
                date={event.frontmatter.publish_date}
                description={event.frontmatter.description}
                type={event.frontmatter.type}
                project={event.frontmatter.project}
                project_link={event.frontmatter.project_link}
                edition={event.frontmatter.edition}
                link={event.frontmatter.slug}
              />
            );
          })
      }
    </Timeline>
  </div>
</Layout>
