---
import Layout from "../layouts/Layout.astro";
import Link from "@/components/Link.astro";
import "../styles/global.css";

const podcasts = [
  {
    title: "How to Work with Participation in Polarization",
    description:
      `As part of the Agents of Coexistence project, we present to you an interview with Dutch philosopher Bart Brandsma, who focuses on analyzing and working with "us vs. them" thinking. In a 40-minute conversation with our correspondent Soňa Kariková, we discussed how to reach people "in the middle" and how to effectively address polarization and radicalization in society.`,
    audioUrl:
      "https://storage.googleapis.com/dialogue-center/audio/podcast/Polarisation_30.7_dialogueCentre.mp3",
    imageUrl:
      "https://storage.googleapis.com/dialogue-center/podcast-thumbnails/podcast-01.webp",
    topicSlug: "/projects/polarization_workshops",
  },
];
---

<Layout title="Podcasts | Dialogue Centre">
  <section class="flex flex-col items-center gap-8 my-12 mx-4">
    <div class="w-full max-w-3xl flex flex-col gap-8">

      <!-- Page heading -->
      <h2
        class="font-bold text-4xl text-center bg-gradient-to-r from-[#102756] via-[#1f5cab] to-[#2878de] bg-clip-text text-transparent"
      >
        Podcasty
      </h2>
      <!-- Podcast list -->
      <div class="space-y-10">
        {podcasts.map((p) => (
          <article class="bg-white dark:bg-gray-800 rounded-xl shadow-md overflow-hidden">
            <div class="md:flex">
              <!-- Cover image -->
              <div class="md:shrink-0">
                <img
                  class="h-48 w-full object-cover md:h-full md:w-48"
                  src={p.imageUrl}
                  alt={`Obálka podcastu ${p.title}`}
                />
              </div>

              <div class="p-6 flex flex-col justify-between">
                <div>
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {p.title}
                  </h3>
                  <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
                    {p.description}
                  </p>
                  <p class="mt-2 text-sm">
                    <Link
                      href={p.topicSlug}
                      text="More about the topic →"
                    />
                  </p>
                </div>

                <!-- Audio player -->
                <audio controls class="w-full mt-4 rounded-2xl bg-blue-400 ">
                  <source src={p.audioUrl} type="audio/mpeg" />
                  Váš prehliadač nepodporuje prehrávanie zvuku.
                </audio>
              </div>
            </div>
          </article>
        ))}
      </div>
    </div>
  </section>
</Layout>
