---

import TeamMemberCard from "@/components/TeamMemberCard.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";

import {team} from "@/locales/sk/translation.json"


---
<Layout title="Dialogue center">
  <section class="team flex flex-col gap-15 mt-5 mb-5">
    <TeamMemberCard
      name="Michaela Kováčik Huľuková"
      photo="https://storage.googleapis.com/dialogue-center/team-members/miska_h.jpg"
      responsibilities={team.responsibilities_miska}
      email="michaela.hulukova@gmail.com"
    />
    <TeamMemberCard
      name="Gabriel Karika, st."
      photo="https://storage.googleapis.com/dialogue-center/team-members/gabrielKarika.jpeg"
      responsibilities={team.responsibilities_gabriel}
      email="gkarika0@gmail.com"
    />

    <TeamMemberCard
    name="Michaela Beran Sladkayová"
    photo="https://storage.googleapis.com/dialogue-center/team-members/Sladkayov%C3%A1.jpeg"
    responsibilities={team.responsibilities_miska2}
    email="michaela.sladkayova@gmail.com"
    />
    <TeamMemberCard
      name="Tomáš Hudák"
      photo="https://storage.googleapis.com/dialogue-center/team-members/TomasHudak.jpeg"
      responsibilities={team.responsibilities_tomas}
      email="hudak.tomas@icloud.com"
    />
        <TeamMemberCard
      name="Lucia Helmeciova"
      photo="https://storage.googleapis.com/dialogue-center/team-members/LucHel.jpeg"
      responsibilities={team.responsibilities_lucka}
      email=""
    />

  </section>
</Layout>
