---
import UpcomingEvent from "./UpcomingEvent.astro";

const events = await Astro.glob("../content/events/**/*.md");

const parseDate = (dateStr: string): Date => {
  const [day, month, year] = dateStr.split(".").map(Number);
  // Month is 0-indexed in JavaScript's Date object
  return new Date(year, month - 1, day);
};

const futureEvents = events
  .filter((event: any) => {
    // Compare with today's date at midnight
    const today = new Date();
    today.setHours(0, 0, 0, 0);
    return parseDate(event.frontmatter.publish_date) >= today;
  })
  .sort((a, b) => {
    // Sort ascending (oldest future event first)
    return (
      parseDate(a.frontmatter.publish_date).getTime() -
      parseDate(b.frontmatter.publish_date).getTime()
    );
  });

 const atLeastOneFutureEventPlanned: boolean = futureEvents.length > 0;
---

<section class="w-full px-4 py-16">
  <div
    class="mx-auto max-w-4xl rounded-xl border border-gray-200 bg-white p-8 shadow-md dark:border-gray-700 dark:bg-gray-800"
  >
    <h2
      class="text-3xl font-semibold text-[#102756] dark:text-white md:text-4xl"
    >
      Nadchádzajúce podujatia
      <div
        class="mt-2 h-1 w-20 rounded-full bg-gradient-to-r from-blue-500 to-emerald-500"
      >
      </div>
    </h2>

    <div class="mt-8">
      {
        atLeastOneFutureEventPlanned ? (
          futureEvents.map((event) => (
            <UpcomingEvent
              name={event.frontmatter.title}
              date={event.frontmatter.publish_date}
              project={event.frontmatter.project}
              project_link={event.frontmatter.project_link}
              edition={event.frontmatter.edition}
              link={event.frontmatter.slug}
              description={event.frontmatter.description}
              fb_link={event.frontmatter.fb_link}
            />
          ))
        ) : (
          <div class="pt-4 text-center text-lg text-gray-700 dark:text-gray-300">
            Zatiaľ nie sú naplánované žiadne podujatia. Sledujte nás pre viac
            informácií už čoskoro.
            <br />
            Medzitým si môžete pozrieť{" "}
            <a
              href="/event_timeline"
              class="font-medium text-emerald-600 hover:underline dark:text-emerald-400"
            >
              archív zrealizovaných podujatí
            </a>.
          </div>
        )
      }
    </div>
  </div>
</section>
