---
import Gallery from '@/components/Gallery.astro';
import type { CollectionEntry } from 'astro:content';


type Props = CollectionEntry<'events'>['data'];

const { title, publish_date, description, project, project_link ,edition, gallery, count_gallery} = Astro.props;

const year = publish_date.split('.')[2]


const project_route = "/projects/" + project_link
// TODO: add dictonary for linking project names to project routes
---
<section class="md:max-w-1/2 md:mx-auto my-5 mx-2 flex flex-col gap-2">
    <h1 class="text-5xl font-bold">{title}</h1>
    <a href={project_route} class="text-blue-400 text-xl font-semibold"> 
        <h4>{project} #{edition}</h4>
    </a>
    <div class="text-gray-500">
        <h2>{year}</h2>
    </div>
    
    <p class="markdown-content" > 
      <slot />
    </p>
    
    {gallery && <h2 class="text-3xl mt-8 self-start">Galéria</h2>}

    <div class="self-stretch">
        <Gallery source= {gallery} count={count_gallery}/>
    </div>
</section>