---
import TimelineEvent from "@/components/TimelineEvent.astro";
import { EventTypes } from "../components/types/EventTypes";
---

<ol
  class="relative border-s border-gray-200 dark:border-gray-700 m-5 md:max-w-1/2"
>
  <li class="mb-10 ms-6">
    <TimelineEvent
      name="Projektová návšteva Banskej Bystrice s Agentami Koexistencie"
      date="7. júla 2024"
      description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
      type={EventTypes.workshop}
    />
  </li>
  <li class="mb-10 ms-6">
    <TimelineEvent
      type={EventTypes.conference}
      name="Dialogue Sessions #8"
      date="19. decembra 2023"
      description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
    />
  </li>
  <li class="mb-10 ms-6">
    <TimelineEvent
      name="Dialogue Sessions #8"
      date="19. decembra 2023"
      description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
      type={EventTypes.discussion}
    />
  </li>
  <li class="mb-10 ms-6">
    <TimelineEvent
      name="Dialogue Sessions #8"
      date="19. decembra 2023"
      description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
      type={EventTypes.workshop}
    />
  </li>
  <li class="mb-10 ms-6">
    <TimelineEvent
      name="Dialogue Sessions #8"
      date="19. decembra 2023"
      description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
      type={EventTypes.conference}
    />
  </li>
  <li class="mb-10 ms-6">
    <TimelineEvent
      name="Dialogue Sessions #8"
      date="19. decembra 2023"
      description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
      type={EventTypes.discussion}
    />
  </li>

  <li class="ms-6">
    <TimelineEvent
      name="Dialogue Sessions #8"
      date="19. decembra 2023"
      description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
      type={EventTypes.conference}
    />
  </li>
</ol>
